@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Roboto:wght@300;400;700&display=swap");

:root {
  --timePointHeight: 65vh;
  --softWhite: #fcfcfc;
  --darkColor: #444;
  --borderColor: #888;
  --primaryColor: #1f5195;
  --fieldWidth: 85vw;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.container {
  background: linear-gradient(
    to left,
    rgba(250, 250, 250, 1),
    rgba(200, 200, 200, 1)
  );
  min-height: 100vh;
  max-height: 100%;
  color: var(--darkColor);
  font-family: "Roboto", sans-serif;
}

.fieldTitle {
  font-family: "Bodoni Moda", serif;
  color: #222;
  font-weight: 700;
}

.searchField {
  display: flex;
  min-height: 10vh;
  width: var(--fieldWidth);
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5rem;
}

.searchBar {
  border: 1px solid #ccc;
  border-radius: 1999px;
  padding: 0.5rem 1.5rem;
  max-width: 50%;
  min-width: 300px;
  font-family: inherit;
}

.searchBar:focus {
  outline: none;
  border: 1px solid var(--primaryColor);
}

.displayField {
  width: var(--fieldWidth);
  height: var(--timePointHeight);
  position: relative;
  margin: auto;
  border: 1px solid #555;
}

.displayField::before {
  content: "Change displayed trucks";
  position: absolute;
  top: 50%;
  left: -7.5rem;
  transform: rotate(-90deg);
  color: var(--primaryColor);
  font-weight: 400;
  opacity: 0.8;
}

.timeLine {
  position: absolute;
  top: 0;
  left: 15vw;
  border-top: 3px solid var(--primaryColor);
  opacity: 0.75;
  height: 100%;
  width: 70vw;
  z-index: 10;
}

.toLeft,
.toRight {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 3rem;
  line-height: 0;
  position: absolute;
  top: -0.25rem;
  cursor: pointer;
  z-index: 30;
}

.toLeft {
  left: -0.25rem;
}

.toRight {
  right: -0.25rem;
}

.userFeedback {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #cc5577;
  border-radius: 4px;
  background: var(--softWhite);
  color: #cc5577;
  opacity: 0.9;
  padding: 1rem 1.5rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

/*TimePoint*/

.timePoint {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-3.5rem);
}

.timePointBox {
  border: 1px solid #ccc;
  border-left: 2px solid var(--darkColor);
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  min-height: 2.8rem;
  position: relative;
  background: var(--softWhite);
  transform: translateY(-0.25rem);
}

.verticalLine {
  height: var(--timePointHeight);
  width: 2px;
  background: #555;
  transform: translateY(-0.25rem);
}

.flagIcon {
  position: absolute;
  top: 0;
  left: -2rem;
}

/* Order */

.order {
  height: 100%;
  border: 1px solid var(--darkColor);
  position: absolute;
  left: 0;
  top: 0;
  background: var(--softWhite);
  display: flex;
  align-items: center;
  justify-items: space-around;
  padding: 0 1rem;
}

.orderName {
  color: var(--primaryColor);
  font-weight: 700;
}

.orderContent {
  font-weight: 300;
}

/* truck */

.truck {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.truckName {
  padding: 0.5rem;
  position: relative;
  width: 4.5rem;
  left: -6.5rem;
}

.truckIcon {
  -moz-transform: scaleX(-1); /* Gecko */
  -o-transform: scaleX(-1); /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform: scaleX(-1); /* Standard */

  filter: FlipH; /* IE 6/7/8 */
  width: 6rem;
  height: inherit;
}

.tName {
  position: absolute;
  top: 1.7rem;
  left: 2.2rem;
  color: var(--softWhite);
}

.line {
  height: 2px;
  border: 1px solid var(--primaryColor);
  width: 100%;
  position: absolute;
  left: 0;
}

/* Vertical slider */
.verticalSlider {
  position: absolute;
  top: 0;
  height: 100%;
  left: -1rem;
}

/* Horizontal slider */
.horizontalSlider {
  position: absolute;
  width: 100%;
  bottom: -1rem;
  left: 0;
}

@media screen and (max-width: 700px) {
  .fieldTitle {
    font-size: 1.2rem;
  }

  .timePointBox {
    width: 7.5rem;
  }
}

@media screen and (max-width: 670px) {
  .fieldTitle {
    display: none;
  }

  .container {
    font-size: 0.9rem;
  }

  .inputGroup label {
    padding-left: 0.5rem;
  }

  .timeLine {
    left: 20vw;
  }

  .truckDetail {
    display: none;
  }

  .tName {
    left: 2.8rem;
    background: var(--primaryColor);
    padding: 0.25rem;
    font-size: 0.8rem;
  }

  .timePointBox {
    font-size: 0.8rem;
    padding: 0.5rem 0.25rem;
    width: 5rem;
  }

  .orderContent {
    font-size: 0.8rem;
  }

  .displayField::before {
    display: none;
  }

  .verticalSlider {
    left: -1.5rem;
    position: relative;
  }
}
